@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: #0b0812;
}

.herobg {
  /* background: rgb(11, 8, 18);
  background: linear-gradient(
    95deg,
    rgba(11, 8, 18, 1) 68%,
    rgba(15, 11, 24, 1) 98%
  ); */
  /* background: rgb(11, 8, 18);
  background: linear-gradient(
    95deg,
    rgba(11, 8, 18, 1) 68%,
    rgba(44, 31, 71, 1) 96%
  ); */

  background: rgb(21, 11, 39);
  background: radial-gradient(
    circle,
    rgb(16, 8, 31) 4%,
    rgba(11, 8, 18, 1) 100%
  );
}

.headerTransition {
  transition: all ease-in-out 0.8s;
}
