@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: #0b0812;
}

/* .herobg {
  background: rgb(21, 11, 39);
  background: radial-gradient(
    circle,
    rgb(16, 8, 31) 4%,
    rgba(11, 8, 18, 1) 100%
  );
} */

.headerTransition {
  transition: all ease-in-out 0.8s;
}

.minHeight-40 {
  min-height: 40vh;
}

.minHeight-60 {
  min-height: 60vh;
}

.minHeight-20 {
  min-height: 20vh;
}

.MuiAccordionSummary-root {
  flex-direction: row-reverse !important;
  flex-direction: row !important;
}

.herobg {
  background: url("/images/herobg.svg");
}

.progress-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #e08816;
  transform-origin: 0%;
}

.progress-bar-m {
  position: fixed;
  z-index: 303000;
  top: 70px;
  left: 0;
  right: 0;
  height: 4px;
  background: #e08816;
  transform-origin: 0%;
}
